:root {
  /* Color pallet */
  --clr-accent: #1f1d36;
  --clr-accent-light: #3f3351;
  --clr-dark: #864879;
  --clr-light: #e9a6a6;

  /* Fonts Used */
  --ff-primary: "Nunito", sans-serif; /* Font that I imported */
}

* {
  /* Reset default css styles using universal selector*/
  margin: 0; /* Removes margins*/
  padding: 0; /* Removes padding*/
}

html {
  scroll-behavior: smooth; /* Prevents jumping from section to section*/
}

body {
  /* Basic format for everything in the site*/
  background-color: black; /* Black background*/
  color: white; /* White text*/
  font-family: var(--ff-primary); /* Nunito font*/
  font-weight: bold; /* Bold text*/
  line-height: 2.5;
  text-align: center; /* Center align*/
}

/* hides scrollbar but still allows for scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

h2 {
  color: var(
    --clr-light
  ); /* Orange color for all subtitles and section headers*/
  margin-bottom: 7.5%; /* Creates a custom margin bottom for all titles*/
}

/* Front page */

.front-page {
  background-image: url(stars.gif); /* Background gif of blinking stars*/
  text-align: center; /* DO NOT TOUCH THIS OR IT WILL RUIN THE MOON */
}

#front-page-title {
  padding: 25rem 0 0 0;
}

#front-page-subtitle {
  /* Formatting for the front page subtitle */
  color: var(--clr-light);
  padding-bottom: 35rem;
}

#moon {
  position: absolute;
  transform: translateX(-12.5rem); /* DONT TOUCH */
  top: 50rem;
}

#moon:hover {
  cursor: pointer; /* Tells users its clickable*/
}

/* About section */

.about {
  background-color: var(--clr-accent);
  padding: 16rem 10% 8% 10%; /* Keeps the moon stationary so it looks good in mobile and adds padding to prevent going up to the edges*/
}

/* Skills and technology section */

.skills,
.technologies {
  display: grid;
  grid-template-columns: 50%;
  padding: 8% 10% 8% 10%;
}

.skills {
  background-color: var(--clr-accent-light); /* Pink background*/
}

.technologies {
  background-color: var(--clr-dark); /* Purple background*/
}

/* Projects section */

.projects {
  background-image: url(stars.gif);
  padding: 8% 16% 8% 16%;
}

@media (max-width: 1000px) {
  .project-box {
    /* Adds a padding bottom so all the boxes aren't touching*/
    margin-bottom: 6%;
  }
}

.btn-secondary {
  margin-right: 7px;
}

/* Games section*/

.games {
  padding: 8% 16% 8% 16%;
}

/* FOOTER */

footer {
  background-color: var(--bs-dark);
  color: var(--clr-light);
  font-size: 1.5rem;
  padding-bottom: 2%;
  text-align: center; /* DO NOT TOUCH THIS EITHER */
  text-decoration: none;
}

#footer-title {
  padding: 2% 0 0.5rem 0;
}

.social {
  color: var(--clr-light);
  display: inline-block;
  margin: 0 2.75rem 0 2.75rem;
}

.project-github {
  color: var(--clr-dark);
  margin: 0 auto;
  text-decoration: none;
}

.school-name {
  text-align: left;
  text-decoration: underline;
  padding-bottom: 0.75em;
}
